<!-- templates/test.html -->
<h1>Test Template</h1>
{% for movie in movies %} 
<div class="movie-card" onclick="showPopup()">
    <pre>{{ movie | json_encode }}</pre>
    {% if movie.Poster  %}
        <img 
            src="{{ movie.Poster }}" 
            alt="{{ movie.Title }} Poster" 
            style="width: 100%; border-radius: 8px;" 
            />

{% endif %}



    
</div>
{% endfor %}