<!-- templates/test.html -->
{% set_global current_letter = "" %}
<h1>Test Template</h1>
{% for movie in movies %} 
    {% if movie.FirstLetter | lower != current_letter %}
    {% set_global current_letter = movie.FirstLetter | lower %}
------------ {{ current_letter }} ------------------
'{{current_letter}}' '{{movie.FirstLetter}}' {{movie.Title}}
    {% else %}
'{{current_letter}}' '{{movie.FirstLetter}}' {{movie.Title}}
    {% endif %}
{% endfor %}